<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %clr(%5level) %cyan(%logger) - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="lostark_chomulator_api.chomulator.cleanse" level="DEBUG" />
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>